html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
}

@keyframes mild-pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5; /* Keep it more visible */
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.mild-pulse {
  animation: mild-pulse 2s ease-in-out infinite;
}

@font-face {
  font-family: "Pragmatica Extended";
  src: url("/fonts/Pragmatica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.logo {
  font-family: "Pragmatica Extended", sans-serif;
}

@font-face {
  font-family: "Helvetica Neue UltraLight";
  src: url("/fonts/HelveticaNeueUltraLight.otf") format("opentype");
  font-weight: 200; /* UltraLight is usually around 200 */
  font-style: normal;
}

.helv {
  font-family: "Helvetica Neue UltraLight", sans-serif;
}

@media (max-width: 768px) {
  #scroll-container {
    width: 200%;
    height: 200%;
    overflow: auto;
  }
}

.mobile {
  background: url("./assets/DSC08648.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; /* Ensures it covers full height */
}

.fade-transition {
  transition: opacity 0.5s ease-in-out;
}

.opacity-0 {
  opacity: 0;
}
